<p *ngIf="!hackerNewsStories"><em>Loading...</em></p>
<div class="container" *ngIf="hackerNewsStories">
  <form>
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="search($event)">
    </mat-form-field>
  </form>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- SNO Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> Sr No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Created By Column -->
      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.by}} </td>
      </ng-container>

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element"> <a href="{{element.url}}" target="_blank">{{element.url}}</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #paginatorRef></mat-paginator>
  </div>
</div>
